#Do not track the hidden files
# excluding the .gitignore file itself

./Simulation_study_4.1/.Rhistory
./Simulation_study_4.1/.DS_Store
./Simulation_study_4.1/ridgeTuningForConditions/.DS_Store
./Simulation_study_4.1/.RData
./Simulation_study_4.1/sparseSCAcppPackage/.DS_Store
./Simulation_study_4.1/sparseSCAcppPackage/sparseSCAcppFunction/.DS_Store
./Analysis_empirical_data_examples_3/.Rhistory
./Analysis_empirical_data_examples_3/500_fam_study_3.1/.DS_Store
./Analysis_empirical_data_examples_3/.DS_Store
./Analysis_empirical_data_examples_3/.allCommonSpecific.R.swo
./Analysis_empirical_data_examples_3/adni_study_3.2/.DS_Store
./.DS_Store
./Simulation_study_4.2/.DS_Store
./Simulation_study_4.2/cppTesting/.DS_Store
./Simulation_study_4.2/cppTesting/.davideCode.cpp.swp

/build/
build_*/
build-*/
*-build/
qtcreator-build
/*.DS_Store
src/gwt/www/js/acesupport.js
src/gwt/www/js/ace.js
src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/acesupport.js
src/gwt/src/org/rstudio/core/client/jsonrpc/json2.min.js
src/gwt/www/js/json2.min.js
src/gwt/tools/ace/
src/gwt/tools/pdfjs/
src/gwt/tools/xterm.js/
src/gwt/.ant-targets-build.xml
/src/gwt/.gwt/.gwt-log
/*.Rproj.user
/*.Rhistory
/*.RData
/*.Rprofile
//src/gwt/bin.test/
//src/gwt/gwt-unitCache/
/NEWS.html
/CONTRIBUTING.html
/CMakeLists.txt.user
/.idea/
/**/\.tern-port
/.#*
/*.autosave
/*~
/*swp
/*swo
/.orig
/.vagrant
/tags
/GPATH
/GRTAGS
/GSYMS
/GTAGS




